In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [108]:
## Header Tags from Wikipedia.org

page = requests.get('https://en.wikipedia.org/wiki/Wikipedia')

soup = BeautifulSoup(page.content)

title = []
for i in soup.find_all(['h1','h2','h3','h4','h5','h6']):
    title.append(i.text)
title

['Wikipedia',
 'Contents',
 'History',
 'Nupedia',
 'Launch and growth',
 'Milestones',
 'Current state',
 'Openness',
 'Restrictions',
 'Review of changes',
 'Vandalism',
 'Edit warring',
 'Policies and laws',
 'Content policies and guidelines',
 'Governance',
 'Administrators',
 'Dispute resolution',
 'Arbitration Committee',
 'Community',
 'Studies',
 'Diversity',
 'Language editions',
 'English Wikipedia editor numbers',
 'Reception',
 'Accuracy of content',
 'Discouragement in education',
 'Medical information',
 'Quality of writing',
 'Coverage of topics and systemic bias',
 'Coverage of topics and selection bias',
 'Systemic biases',
 'Explicit content',
 'Privacy',
 'Sexism',
 'Operation',
 'Wikimedia Foundation and Wikimedia movement affiliates',
 'Software operations and support',
 'Automated editing',
 'Hardware operations and support',
 'Internal research and operational development',
 'Internal news publications',
 'The Wikipedia Library',
 'Access to content',
 'Content licensing',
 'Methods of access',
 'Mobile access',
 'Chinese access',
 'Cultural impact',
 'Trusted source to combat fake news',
 'Readership',
 'COVID-19 pandemic',
 'Cultural significance',
 'Awards',
 'Satire',
 'Sister projects\xa0– Wikimedia',
 'Publishing',
 'Research use',
 'Related projects',
 'See also',
 'Notes',
 'References',
 'Further reading',
 'Academic studies',
 'Books',
 'Book review-related articles',
 'Learning resources',
 'Other media coverage',
 'General articles',
 'Articles re Wikipedia usage patterns',
 'External links',
 'Navigation menu',
 '\nPersonal tools\n',
 '\nNamespaces\n',
 '\nVariants\nexpanded\ncollapsed\n',
 '\nViews\n',
 '\nMore\nexpanded\ncollapsed\n',
 '\nSearch\n',
 '\nNavigation\n',
 '\nContribute\n',
 '\nTools\n',
 '\nPrint/export\n',
 '\nIn other projects\n',
 '\nLanguages\n']

In [123]:
## IMDB top 100 movies
page = requests.get('https://www.imdb.com/list/ls091520106/')
soup = BeautifulSoup(page.content)
Name= []
for i in soup.find_all('h3',class_="lister-item-header"):
    Name.append(i.text)
    
Rating= []
for i in soup.find_all('div',class_="ipl-rating-star small"):
    Rating.append(i.text)
    
Year= []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    Year.append(i.text)

df= pd.DataFrame({'Name':Name,'Rating':Rating,'Year':Year})

df = df.replace(r'\n','',regex=True)
df

                                            Name Rating    Year
0               1.The Shawshank Redemption(1994)    9.3  (1994)
1                          2.The Godfather(1972)    9.2  (1972)
2                 3.The Godfather: Part II(1974)      9  (1974)
3                        4.The Dark Knight(2008)      9  (2008)
4                           5.12 Angry Men(1957)      9  (1957)
..                                           ...    ...     ...
95                   96.North by Northwest(1959)    8.3  (1959)
96                   97.A Clockwork Orange(1971)    8.3  (1971)
97                               98.Snatch(2000)    8.2  (2000)
98  99.Le fabuleux destin d'Amélie Poulain(2001)    8.3  (2001)
99                             100.The Kid(1921)    8.3  (1921)

[100 rows x 3 columns]

In [135]:
## IMDB top 100 hindi movies

page=requests.get('https://www.imdb.com/list/ls063915608/')
soup = BeautifulSoup(page.content)

Name = []
for i in soup.find_all('h3',class_='lister-item-header'):
    Name.append(i.text)

Rating =[]
for i in soup.find_all('div',class_='ipl-rating-star small'):
    Rating.append(i.text)

Year = []
for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    Year.append(i.text)

df = pd.DataFrame({'Name':Name,'Rating':Rating,'Year':Year})
df = df.replace(r'\n','',regex=True)
df

                                         Name Rating    Year
0                     1.Rang De Basanti(2006)    8.1  (2006)
1   2.Lagaan: Once Upon a Time in India(2001)    8.1  (2001)
2                      3.Dil Chahta Hai(2001)    8.1  (2001)
3                  4.Gangs of Wasseypur(2012)    8.2  (2012)
4            5.Zindagi Na Milegi Dobara(2011)    8.2  (2011)
..                                        ...    ...     ...
95                96.Kuch Kuch Hota Hai(1998)    7.6  (1998)
96                           97.Dhamaal(2007)    7.4  (2007)
97            98.Golmaal: Fun Unlimited(2006)    7.5  (2006)
98                           99.Aligarh(2015)    7.8  (2015)
99                            100.Earth(1998)    7.7  (1998)

[100 rows x 3 columns]

In [138]:
## Meesho.com

page=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
soup = BeautifulSoup(page.content)

P_Name = []
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" ):
    P_Name.append(i.text)

Price =[]
for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    Price.append(i.text)

Discount = []
for i in soup.find_all('span',class_='Text__StyledText-sc-oo0kvp-0 lnonyH'):
    Discount.append(i.text)

df = pd.DataFrame({'P_Name':P_Name,'Price':Price,'Discount':Discount})
df

                                 P_Name Price Discount
0     Elegant Attractive Women Handbags  ₹199  30% off
1         Graceful Fancy Women Handbags  ₹525  16% off
2    Ravishing Versatile Women Handbags  ₹525  16% off
3           Elite Classy Women Handbags  ₹525  16% off
4    Gorgeous Attractive Women Handbags  ₹525  16% off
5          Elite Stylish Women Handbags  ₹525  16% off
6                              HANDBAGS  ₹112  30% off
7        Elite Versatile Women Handbags  ₹525  16% off
8      Ravishing Stylish Women Handbags  ₹525  16% off
9          Trendy Classy Women Handbags  ₹525  16% off
10       Classic Stylish Women Handbags  ₹525  16% off
11   Elegant Fashionable Women Handbags  ₹244  29% off
12  Ravishing Attractive Women Handbags  ₹525  16% off
13     Ravishing Stylish Women Handbags  ₹236  30% off
14    Ravishing Alluring Women Handbags  ₹525  16% off
15     Ravishing Stylish Women Handbags  ₹525  16% off
16   Elegant Fashionable Women Handbags  ₹525  16% off
17       Gorgeous Classy Women Handbags  ₹525  16% off
18      Classic Alluring Women Handbags  ₹236  30% off
19   Ravishing Versatile Women Handbags  ₹304  25% off

In [16]:
## ICC top10 Odi teams
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

Team = []
for i in soup.find_all('tr',class_='table-body'):
    for x in Team:
        rows = Team.find_all('tr')
    for tr in rows:
        data = []
        cols = tr.find_all('td')
    for td in cols:
        data.append(td.text.strip())
data

NameError: name 'rows' is not defined

In [213]:
## Coreyms.com

page = requests.get('https://coreyms.com/')
soup = BeautifulSoup(page.content)

Heading = []
for i in soup.find_all('h2',class_='entry-title'):
    Heading.append(i.text)

Date = []
for i in soup.find_all('time',class_='entry-time'):
    Date.append(i.text)

Content = []
for i in soup.find_all('div',class_='entry-content'):
    Content.append(i.text)

Code = []
for i in soup.find_all('iframe',class_='youtube-player'):
    Code.append(i['src'])
Code

df = pd.DataFrame({'Heading':Heading,'Date':Date,'Content':Content})
df = df.drop(index=[4])
df

df.loc[:,'Code']=Code
df.replace(r'\n','',regex=True)
df

,Heading,Date,Content,Code
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/_JGmemuINww?vers...

In [239]:
### Broker

page = requests.get('https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn1d&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,&locality=Rajajinagar,&locality=Jayanagar')
soup = BeautifulSoup(page.content)

House = []
for i in soup.find_all('span',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'):
    House.append(i.text)

Location = []
for i in soup.find_all('div',class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95'):
    Location.append(i.text)
    
Area = []
for i in soup.find_all('div',class_='flex'):
    Area.append(i.text)
    
Emi = []
for i in soup.find_all('div',class_='flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1'):
    Emi.append(i.text)
    
Price = []
for i in soup.find_all('div',class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0'):
    Price.append(i.text)

df = pd.DataFrame({'House':House,'Area':Area,'Location':Location,'Emi':Emi,'Price':Price})
df

ValueError: arrays must all be same length

In [240]:
len(Heading)

10

In [231]:
## Dineout

page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
soup = BeautifulSoup(page.content)

location = []

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

titles = []
for i in soup.find_all('div',class_="restnt-info cursor"):
    titles.append(i.text)
titles

image = []

for i in soup.find_all('img',class_='no-img'):
    image.append(i['data-src'])
image

cuisine = []
for i in soup.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(i.text)
    
rating = []
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)

df = pd.DataFrame({'Title':titles,'Location':location,'cuisine':cuisine,'Image':image,'Rating':rating})
df

,Title,Location,cuisine,Image,Rating
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,3.5
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,400 for 2 (approx) | Barbecue, North India...",https://im1.dineout.co.in/images/uploads/resta...,3.9
2,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx) | Multi-Cuisine, North ...",https://im1.dineout.co.in/images/uploads/resta...,4.3
3,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx) | North Indian, Barbecu...",https://im1.dineout.co.in/images/uploads/resta...,4
4,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian...",https://im1.dineout.co.in/images/uploads/resta...,3.9
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian...",https://im1.dineout.co.in/images/uploads/resta...,3.9
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx) | Barbecue, North Indian",https://im1.dineout.co.in/images/uploads/resta...,3.7
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,600 for 2 (approx) | North Indian, Chinese...",https://im1.dineout.co.in/images/uploads/resta...,3.9
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad","₹ 900 for 2 (approx) | North Indian, Chinese, ...",https://im1.dineout.co.in/images/uploads/resta...,4.2
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx) | North Indian, Barbecu...",https://im1.dineout.co.in/images/uploads/resta...,4.3
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad","₹ 800 for 2 (approx) | North Indian, Mughlai",https://im1.dineout.co.in/images/uploads/resta...,3.7
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","₹ 1,500 for 2 (approx) | North Indian, Chinese...",https://im1.dineout.co.in/images/uploads/resta...,4.3
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","₹ 3,400 for 2 (approx) | European, Indian Cuis...",https://im1.dineout.co.in/images/uploads/resta...,4.1

In [221]:
### bevkoof 

page = requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts&sort=popular')
soup = BeautifulSoup(page.content)

name = []
for i in soup.find_all('div',class_='productCardDetail'):
    name.append(i.text)
    
price = []
for i in soup.find_all('span',class_='discountedPriceText'):
    price.append(i.text)

img = []
for i in soup.find_all('img',class_='productImgTag'):
    img.append(i['src'])
 
df = pd.DataFrame({'name':name,'price':price,'Image':img})
df

,name,price,Image
0,Dab Marshmello Half Sleeve T-Shirt₹ 199499FEW ...,₹ 199,https://images.bewakoof.com/t320/dab-marshmell...
1,Chibi Harry Half Sleeve Printed T-shirt (HPL)₹...,₹ 299,https://images.bewakoof.com/t320/chibi-harry-h...
2,Stay Classy Minnie Half Sleeve Printed T-shirt...,₹ 199,https://images.bewakoof.com/t320/stay-classy-m...
3,Innner Happiness Half Sleeve T-Shirt₹ 199799FE...,₹ 199,https://images.bewakoof.com/t320/innner-happin...
4,No Guts Glory Boyfriend T-Shirt Black₹ 299999₹...,₹ 299,https://images.bewakoof.com/t320/no-guts-glory...
5,Dil Hai Hindustani Women's Half Sleeve T-Shirt...,₹ 299,https://images.bewakoof.com/t320/dil-hai-hindu...
6,Olive Night Half Sleeve T-Shirt₹ 299799₹279For...,₹ 299,https://images.bewakoof.com/t320/olive-night-h...
7,Expensive Half Sleeve T-Shirt₹ 299699₹279For T...,₹ 299,https://images.bewakoof.com/t320/expensive-boy...
8,Modern Masterpiece Boyfriend T-Shirt₹ 299799₹2...,₹ 299,https://images.bewakoof.com/t320/modern-master...
9,Bugs Upside Down Half Sleeve Women's T-shirt (...,₹ 299,https://images.bewakoof.com/t320/bugs-upside-d...